@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

body{
    max-width: 1400px; width: 100%; margin: 0px auto;   
}

nav{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
    
}

.nav-items{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3E3F88;
    

}
.nav-item{
    margin: 20px;
    font-family: "Roboto";
}

.signin-btn{
    width:100px;
    height:30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: rgb(6,111,158);
background: linear-gradient(50deg, rgba(6,111,158,1) 50%, rgb(238, 6, 246) 96%);
}


.intro-section{
   
    display: flex;
    justify-content: space-between;
    
}

.left-section{
    
    width:100vw;
    height: 50vh;
    margin-left: 100px;
    margin-top: 70px;
    padding: 30px;

}

.left-section>h1{
    color: #636BA8;
    font-family: "Roboto";
   
    font-weight: 600;
    font-size: 70px;

}

.left-section>h4{
 font-family: "Roboto";

 margin-top: 30px;
 margin-right: 150px;
 font-weight: 400;
}

.learn-more-btn{
    margin-top: 50px;
    width:150px;
    height: 40px;
    border-radius: 50px;
    background: rgb(6,111,158);
    background: linear-gradient(50deg, rgba(6,111,158,1) 50%, rgb(238, 6, 246) 96%);
    border: none;
    color: #fff;
}

.imgs-div>img:nth-child(1){
    height: 60vw;
    
    
    border: solid red;
}

.backcover{
    z-index: -1;
    position: absolute;
    top:0%;
    right: 0%;
    
}





.front-img{
   
    height: 73vh;
    width: 45vw;
}

.vector-img{
    position: absolute;
    top: 70%;
    right:40%;
}

.vector-dot{
    position: absolute;
    top:70%;
    right: 42%;
}